name: GitHub-Profile-3D-Contrib

on:
  schedule:
    - cron: "0 18 * * *"  
  workflow_dispatch:

jobs:
  build:
    name: generate-github-profile-3d-contrib
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
         with:
          token: ${{ secrets.JANDI }}   

      - name: Generate 3D Profile
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.APPLE }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "generated" || true
          git push
